.movie-spinner {
    width: 100%;
    height: 100%;
    z-index: 3000;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    background-color:#ffffffab;
}