.register-form {
    h1 {
        color: #39b0e4;
        display: flex;
        margin-top:0px;
        margin-bottom: 20px;
    }
    width: 400px;
    height:500px;
    background-color:white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    .form-input {
        margin-bottom: 10px;
        width: 80%;
    }
    button {
        margin-top: 10px;
        margin-bottom: 10px;
        width: 80%;
    }
}