.movie-form {
  .movie-form-wrapp {
    padding: 20px;
  }
    position: relative;
    border-radius: 10px;
    background-color: white;
    display: flex;
    flex-direction: column;
    // padding: 20px;
    height: 510px;
    max-height: 600px;
    width: 400px;
    h2 {
      color: #39b0e4;
      display: flex;
    }
    h4 {
      color: #c5cfd3;
    }
    .title {
      display: flex;
      justify-content: center;
      margin-bottom: 20px;
    }
    .fields {
      width: 100%;
    }
    .form-input {
      margin-bottom: 15px;
      width: 100%;
    }
  }
  