.movieList-wrap {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 80%;
  min-width: 300px;
  max-width: 860px;
  padding: 20px;

  .search-field {
    margin-bottom:10px;
  }
}