.register-form {
    width: 400px;
    height:400px;
    background-color:white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    .form-input {
        margin-bottom: 10px;
        width: 80%;
    }
    button {
        margin-top: 10px;
        margin-bottom: 10px;
        width: 80%;
    }
}